/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+ProSource+Sans+Pro";
body {
  font-family: "Source Sans Pro", sans-serif;
  background: #f7f7f7;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #000;
}

a,
a:hover,
a:focus {
  color: #009b72;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 0px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar .btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  margin-left: 10px;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 0px;
  height: 100vh;
  z-index: 999;
  background: #013220;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386d5;
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#dismiss .fas {
  margin-top: 15px;
}

#dismiss:hover {
  background: #fff;
  color: #7386d5;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding-top: 20px;
  padding-left: 20px;
  color: #fff;
}

#sidebar ul.components {
  padding-left: 20px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sidebar ul li a:hover {
  color: #013220;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #013220;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #013220 !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

/* %%%%%%%%%%%%%%%   CREATE FEED CSS **************************/

.feed .card ul {
  display: flex;
  margin-left: -15px;
  margin-bottom: 5px;
}
.feed .card li {
  list-style: none;
  cursor: pointer;
  font-size: large;
  padding: 0px 20px;
  margin-top: 20px;
}
/* %%%%%%%%%%%%%%%   Write CSS **************************/

.feed .card .card-body .post .something form.createArea {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  padding: 15px;
  width: 480px;
  margin-top: 0px;
  margin-left: -15px;
}

.feed .card .card-body .something form.createArea textarea {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  box-shadow: none;
  outline: none;
  overflow: hidden;
}

.feed .card .card-body .something form.createArea button {
  font-family: arial;

  font-size: 15px;
  width: 100px;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  line-height: 10px;
  display: block;
  float: right;
  margin-right: -12px;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* %%%%%%%%%%%%%%%   CREATE GYAN CSS **************************/

.feed .card .card-body .gyanplace .card {
  border-radius: 7px;
  border: none;
  padding: 2px;
  width: 100%;
  height: 150px;
  margin: 0px auto 50px;
}
.feed .card .card-body .gyanplace form.createArea input {
  width: 488px;
  height: 10px;
  border: none;
  font-size: 20px;
  margin-left: 3px;
  padding: 27px 10px;
  box-shadow: none;
  outline: none;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: -2px 0 2px #4caf50;
}
.feed .card .card-body .gyanplace form.createArea textarea {
  width: 488px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: -2px 0 2px #4caf50;
}
.feed .card .card-body .gyanplace form.createArea textarea::placeholder {
  padding: 12px;
  font-size: 18px;
}
.feed .card .card-body .gyanplace form.createArea input::placeholder {
  text-transform: capitalize;
  padding-left: 0px;
  font-size: 18px;
}
.feed .card .card-body .gyanplace #inlineFormCustomSelect {
  width: 488px;
  height: 55px;
  border: none;
  font-size: 20px;
  padding: 0 15px;
  box-shadow: none;
  outline: none;
  margin-left: 7px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 0 #4caf50;
}
.feed .card .card-body .gyanplace .createArea button {
  font-family: arial;

  font-size: 14px;
  width: 100px;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  line-height: 10px;
  display: block;
  float: right;
  margin-right: 10px;
  text-decoration: none;
  margin-top: 40px;
}

/* ******************************************Profile Section Css******* ***************************/

.profilesec .avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px auto;
  border: none;
  box-shadow: 0 8px 5px rgb(138, 137, 137);
}
.profilesec .card {
  margin-top: 50px;
  margin: 50px auto;
  border-radius: 15px 15px 0 15px;
}
.profilesec .card-body {
  padding: 0;
}
.profilesec table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  height: 100px;
  margin-left: 0;
}
.profilesec tr {
  border: 0 solid #dddddd;
  text-align: left;
  padding: 15px 2px;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
}

.profilesec th {
  border: 0 solid #dddddd;
  text-align: left;
  padding: 15px 8px;
}

.profilesec th .information {
  margin-right: 0;
  border: none;
}

.profilesec tr:nth-child(even) {
  background-color: #eee;
}
.profilesec button {
  font-size: 20px;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 80px;
  line-height: 10px;
  display: block;
  float: right;
  margin: 20px auto;
  text-decoration: none;
  margin-top: 40px;
}
.profilevideo .card {
  height: 400px;
}

@media (max-width: 480px) {
  .profilesec .card {
    width: 20rem;
    margin: 50px auto;
    border-radius: 15px 15px 0 15px;
  }
  .profilesec th {
    font-size: 13px;
    padding: 15px 8px;
  }
  .profilevideo .card {
    height: 200px;
  }
}

/* *******Profile EDIT FORM  Section css******* */

.edit-info {
  margin-top: -538px;
  margin-left: -20px;
  display: block;
  margin-bottom: 5px;
}
.edit-info .card {
  border: none;
  width: 28rem;
  box-shadow: 0px 4px 4px #4caf50;
  display: block;
  overflow: hidden;
}

.edit-info .headingpart {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  height: 70px;
  margin-bottom: 40px;
}
.edit-info .card .headingpart .close {
  float: right;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.edit-info .input-section input[type="text"] {
  width: 80%;
  display: block;
  padding: 0px 0px;
  margin: 0px 0px 30px 10px;
  border-width: 0px 0px 3px 0px;
  outline: none;
}
.edit-info .input-section label {
  font-weight: bold;
  margin: 0px 0px 10px 10px;
}
.edit-info .input-section input::placeholder {
  padding-left: 10px;
  color: #ddd;
}
.edit-info .button {
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  float: right;
  margin: 5px 20px 15px 15px;
}
.edit-info .my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
}
.edit-info .table-wrapper-scroll-y {
  display: block;
}
.edit-info .table-wrapper-scroll-y {
  display: block;
}

/* *******Profile Links Section css******* */

.userinfo .infopro .card {
  width: 18rem;
  height: 10rem;
  border: none;
  border-radius: 15px;
}
.userinfo .infopro .rcard {
  width: 18rem;
  border: none;
  border-radius: 15px;
}
.userinfo .infopro .card-title {
  color: #fff;
  text-align: center;
}
.userinfo .infopro a {
  color: #58cb71;
  text-align: center;
  margin-bottom: 10px;
}

.userinfo .infopro .visit {
  margin: 20px auto;
  border-radius: 50%;
}

.userinfo .infopro .card .fa {
  color: #009b72;
}
.userinfo .infopro .card:hover {
  background-color: #009b72;
  border: none;
  border-radius: 15px;
}
.userinfo .infopro .card:hover .fa {
  color: #fff;
}
.userinfo .infopro .card:hover a {
  color: #fff;
}
@media (max-width: 480px) {
  .userinfo .infopro .card {
    width: 10.2rem;
    height: 9rem;
    border: none;
    border-radius: 15px;
    margin-left: -8px;
  }
}

/* **************************Error page   Section css******* */
.error .row {
  color: #eee;
  font-family: Corbel, Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.error #boy {
  margin-top: 0px;
  margin-left: 550px;
  opacity: 0.8;
}

.error hgroup {
  display: block;
  margin-top: 20px;
  font-family: "Century Gothic", Calibri, "Myriad Pro", Arial, Helvetica,
    sans-serif;
  margin-left: 400px;
}

.error h1 {
  color: #009b72;
  font-size: 80px;
  text-shadow: 3px 3px 0 #58cb71;
  white-space: nowrap;
}

.error h2 {
  color: #009b72;
  font-size: 25px;
  font-weight: normal;
  padding: 5px 0;
}

/* ************************** Work In Progess page css ******* */

.workIn {
  max-width: 100px;
  margin: 50px auto;
}
.workIn hgroup {
  display: block;
  margin-top: 20px;
  font-family: "Century Gothic", Calibri, "Myriad Pro", Arial, Helvetica,
    sans-serif;
  margin-left: 100px;
}

.workIn h1 {
  color: #009b72;
  font-size: 80px;
  text-shadow: 3px 3px 0 #58cb71;
  white-space: nowrap;
}
.workIn h1 {
  text-align: center;
}
.workIn .work-progress {
  position: relative;
  width: 60%;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 260px;
  margin-top: 40px;
}
.workIn .work-progress .work-complete {
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  background-color: #58cb71;
  border-radius: 10px;
  animation: g 2500ms infinite ease-in-out;
  z-index: 2;
}
.workIn .work-progress .work-complete .fill-liquid {
  z-index: 1;
  width: 70px;
  height: 70px;
  animation: g 2500ms infinite ease-in-out,
    r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: #58cb71;
  border-radius: 40%;
}

/* ************************** COURSE  page css ******* */
.coursevideo .card {
  height: 500px;
}
.taskvideo .card .card-body{
  height:500px;
}
@media (max-width: 480px) {
  .coursecard .card {
    width: 20vh;
    height: 13vh;
  }
  .coursecard .card h5 {
    font-size: 16px;
    margin-top: 10px;
  }
  .coursecard .card .playicon {
    font-size: 30px;
  }
  .coursevideo .card {
    height: 200px;
  }
  .taskvideo .card .card-body{
    height:200px;
    width:315px;
    margin-left:-15px;
  }
}
/* ************************** dashboard  page css ******* */

@media (max-width: 480px) {
  .dashcard .card {
    width:23vh;
    height:19vh;
    margin-left:5px;
  }
  .dashcard .card  h5.card-title {
    font-size:15px;
  }
  .dashhead .dropdown {
    margin-top: -50px;
  }
  .studentGraph .card{
    margin-top:20px;
    width:21.1rem;

  }
}
/* ************************** FEED page css ******* */
.feedcard .card {
  width: 40rem;
  margin-left: -10px;
}
.feedgyan .card {
  width:30rem;
  margin-left: -20px;
}
@media (max-width: 470px) {
  .feedcard .card {
    width:20.6rem;
    margin-left: -10px;
  }
  .feedgyan .card {
    width:19rem;
  }
}



/* **************************Graph page css ******* */

.carousel .carousel-inner .graphcard{
  height:235px;
  width:450px;
  margin-left:0;
  outline:none;
  border-width:0px 1px;
  border-radius:0px;
}
.carousel .carousel-inner .card .graph-head{
  background-color:#4caf50;
  height:50px;
  margin-top:-8px;
}
.carousel .carousel-inner .card .graph-head h3{
  text-align:center;
  padding-top:5px;
  color:#fff
}
.carousel .carousel-inner .card .statcards{
  margin-top:-5px;
  background-color:#4caf50;
  background-size: cover;
  padding-top:50px;
  color:#fff
}

@media (max-width: 480px) {
  .carousel .carousel-inner .graphcard{
    height:245px;
    width:350px;
    margin-left:0;
    border-radius:0
  }
  .carousel .carousel-inner .card .graph-head{
    background-color:#4caf50;
    height:50px;
    margin-top:-8px;
    color: #ddd;
  }
  

}
/* **************************Rituals page css ******* */
.ritual .maincard{
  margin-left:55px;
}
.ritual .card .row .upcard{
  margin-left:23px;
  margin-top:19px;
  margin-bottom: 19px;
}
.ritual .card .row .lowcard{
  margin-left:-32px;
  margin-top:19px;
  margin-bottom: 19px;
}
.aptitude .card{
  width:105%;
}
.quiz .card,.puzzle .card,.code .card,.reading .card,.aptitude .card{
  height:18rem;
  text-align: center;
}
.quiz .card h1,.puzzle .card h1,.reading .card h1,.aptitude .card h1{
  margin-top:20%;
 }
 .code .card h1{
   margin-top:10%;
 }
@media (max-width: 480px){
  .ritual .maincard{
    margin-left:0px;
  }
  .quiz .card,.puzzle .card,.code .card,.reading .card,.aptitude .card{
    height:6rem;
  }
  .quiz .card h1,.puzzle .card h1,.reading .card h1,.aptitude .card h1{
   font-size:18px;
   margin-top:40%;
  }
  .code .card h1{
    margin-top:16%;
  }
  .aptitude .card{
    width:126%;
  }
}
/* **************************Quiz form  page css ******* */
.quiz-info .quiz-form{
  margin-left:30px;
  margin-right:auto;
   margin-top:30px
}
.quiz-info form .rside{
  margin-right:1000px;
}
@media (max-width: 780px){
  .quiz-info form .rside{
    margin-right:300px;
  }
}
@media (max-width: 480px){
  .quiz-info form .rside{
    margin-right:30px;
  }
  .quiz-info .quiz-form{
    margin-left:10px;
    margin-right:auto;
     margin-top:30px
  }
}
/* **************************Reading form  page css ******* */
.reading-info .quiz-form{
  margin-left:30px;
  margin-right:auto;
   margin-top:30px
}
.reading-info .quiz-form  span{
  margin-right:5px;
}
.reading-info form .rside{
  margin-right:1000px;
}
.reading-info p.para{
  margin-left:30px;
  margin-top:30px;
}

.reading-info h2{
  margin-left:30px;
}
@media (max-width: 480px){
  .reading-info p.para{
    margin-left:10px;
    margin-top:20px;
  }
  .reading-info form .rside{
    margin-right:30px;
  }
  .reading-info .quiz-form{
    margin-left:10px;
    margin-right:auto;
     margin-top:30px
  }
  .reading-info h2{
    font-size:22px;
    margin-left: 10px;
  }
}
/* ************************** Aptitude form  page css ******* */
.aptitude-info .quiz-form{
  margin-left:30px;
  margin-right:auto;
   margin-top:30px
}
.aptitude-info form .rside{
  margin-right:1000px;
}
.aptitude-info h2{
  margin-left:30px;
}
.aptitude-info #iframe2{
  margin-left:30px;
  margin-top:20px;
  width:700px;
  height:400px;
}
@media (max-width: 480px){
  
  .aptitude-info form .rside{
    margin-right:30px;
  }
  .aptitude-info .quiz-form{
    margin-left:10px;
    margin-right:auto;
     margin-top:30px
  }
  .aptitude-info h2{
    font-size:22px;
    margin-left: 10px;
  }
  .aptitude-info #iframe2{
    margin-left:30px;
    margin-top:20px;
    width:300px;
    height:200px;
  }
}


.puzzle-form{
  margin-top:100px;
  margin-left: 30px;
  width: 100%;
}
@media (max-width: 480px){
  .puzzle-form{
    margin-top:100px;
    margin-left:10px;
  }
}
/* ******* Eventdetails css ******* */
.eventhead h6.duration{
  margin-left:50px;
  margin-top:40px;
}
@media (max-width:480px){
  .eventhead h6.duration{
    
    margin-top:20px;
  }
  .eventhead span.time{
    margin-top:80px;
    margin-left:70px;
  }
  .eventhead .inside{
    margin-top: 40px;
  }
}